/* css comuni */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* css comuni per grandezze e disposizione*/
.width-100 {
    width: 100%;
}
.width-75 {
    width: 75%;
}
.width-70 {
    width: 70%;
}
.width-50 {
    width: 50%;
}
.width-30 {
    width: 30%;
}
.inline-block {
    display: inline-block;
}
.margin-auto {
    margin: auto;
}
.float-left {
    float: left;
}
.no-border {
    border: none;
}
.no-decoration {
    text-decoration: none;
}
.clearfix::after {
    content:"";
    display: table; 
    clear: both;
}
.relative {
    position: relative;
}
.vertical-middle {
    vertical-align: middle;
}
.button {
    padding: 5px 10px;
    border: 1px solid #FE775A;
    border-radius: 5px;
}
.align-right {
    text-align: right;
}


/* css per colorazione  */
.bk-red {
    background-color: #FE775A;
}
.bk-green {
    background-color: green;
}
.bk-orange {
    background-color: orange;
}
.bk-grey {
    background-color: grey;
}
.bk-blue {
    background-color: blue;
}
.bk-pink {
    background-color: pink;
}
.text-blue {
    color: #3D5364;
}
.text-red {
    color: #FE775A;
}
.text-white {
    color: white;
}
.font-13 {
    font-size: 13px;
}
.font-15 {
    font-size: 15px;
}
.font-20 {
    font-size: 20px;
}

/* css dell'header */
    /* parte alta dell'header */
header section:first-child {
    background-color: #F4F9FD;
}
.header-top-left {
    margin: 20px 0 20px 0;
    width: 40%;
}
.header-top-right {
    width: 60%;
    margin: 20px 0 20px 0;
    text-align: right;
}

.language::before {
    content:"\2638";
}
#select-language {
    border: none;
    color: #3D5364;
}
.header-contact {
    margin-left: 3%;
    padding: 0 5%;
    border-left: 1px solid #3D5364;
    vertical-align: middle;
}
.header-contact a{
    margin: 20px 0 20px 0;
    text-decoration: none;
}
.header-top-right a {
    margin-left: 20px;
}
.search {
    background-color: #F4F9FD;
    color: #37B6CB;
    font-weight: 900;
}

    /* seconda parte dell'header */
.header-center {
    margin-top: 15px;
}
.header-center option {
    float: right;
}
.nav li{
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 10px;

}
.nav select, .a {
    width: 85px;
    color: #3D5364;
    font-size: 13px;
    letter-spacing: 0px;
